/*-- scss:defaults --*/

$body-bg: #EBE5E0;
$body-color:  #004791;
$link-color: #42affa;

// fonts
$font-family-sans-serif: "Figtree", Figtree, Arial;

.reveal h1 {
    padding: 50px 50px 50px 50px;
}
.reveal h2 {
    padding: 50px 50px 50px 50px;
}